@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "LINESeedKR-Bd";
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 800px;
  border-top: 10px solid skyblue;
  border-bottom: 10px solid skyblue;
  height: 100%;
  min-height: 100vh;}

  .input-group-text {
    width: 85px;
    background-color: #4B89DC;
    color: white;
    justify-content: center;
    white-space: pre-line;
    font-size: 0.8rem;
  }


  .btn {
    background-color: #4B89DC;
    border-color: #4B89DC;
  }

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
  }


  .input-group {
    margin-top: 10px;
  }

label {
    font-size: 0.5rem;
  }

  .text {
    font-size: 80%;
    text-align: left;
  }

  .ref {
    border: 1px solid #4B89DC;
    background-color: #4B89DC;
    color: white;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .nav1 {
    border:1px solid #4B89DC;
    background-color: #4B89DC;
    color: white;
    padding: 10px;
  }

  .nav2 {
    border: 1px solid #4B89DC;
    background-color: #4B89DC;
    color: white;
    padding: 10px;
    margin-top: 10px;
  }

  .line {
    border: 5px solid skyblue;
  }


  i {
    font-size: 2rem;
  }